header{
    background-color: aquamarine;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
}

#navegador {
    background-color: white;
    padding: 2.5px;
    border-radius: 10px;
}


.Main1 {
 display: flex   
}

.Main2 {
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;    
    text-align: center;
    display: inline-block;
    width: calc(100%/3);
}

.articulo {
    background-color: white;
    color: black;
    padding: 5px;
    margin: 1%;
    border-radius: 5px;
}


.aside {
    background-color: orange;
    color: white;
    border-radius: 5px;
    display: inline-block;
    width: 20%;

}


.footer {
    background-color: purple;
    color: white;
    padding: 15;
    border-radius: 5px;
}